<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    

<mapper namespace="com.hw.entity.UserCustomer">

  <select id="checkUsername"  parameterType="java.lang.String"  resultType="java.lang.Integer">
  	  select count(id) from user where username=#{username} and role=1
  </select>
  
  <select id="checkUsernameAndPassword"  parameterType="java.util.Map"  resultType="com.hw.entity.User">
  	  select id,username,password from user where username=#{username} and password=#{password} and role=1
  </select>
  
  <select id="checkUserAccountEmail"  parameterType="java.lang.String"  resultType="com.hw.entity.User">
  	  select id,username,password from user where email=#{email} and role=1
  </select>
 
 
  <update id="updateUsertoken"  parameterType="java.util.Map">
  	  update user set token=#{token} where username=#{username} and role=1
  </update>
  
  <select id="checkUserToken"  parameterType="java.util.Map"  resultType="com.hw.entity.User">
  	  select * from user where token=#{token} and role=1
  </select>
  
  <update id="removeUserToken"  parameterType="java.lang.String">
  	  update user set token=null where username=#{username} and role=1
  </update>
  
  <insert id="addUserAccount" parameterType="user" statementType="PREPARED">
  	  insert into user(username,password,email,phone,question,answer,role,create_time,update_time) 
  	  values(#{username},#{password},#{email},#{phone},#{question},#{answer},1,now(),now())
  </insert>

</mapper>
